.b-form-item{
    display: inline-flex;
    margin: 6px 8px;
    font-size: 14px;
    align-items: center;
    color:rgba(0, 0, 0, 0.88);
}

.b-form-item-label{

}

.b-form-item-label::after{
    content: "：";
}

.b-form-item-label.required::before {
    content: "*";
    color: red;
    margin-right: 4px; /* 可以根据需要调整 */
}