.app{
    display: flex;
    height: 100vh;
}

.app-route-menu{
    height:100%;
}

.app-menu{
    width: 240px;
}

.app-content{
    padding:12px 16px;
    background: rgb(246 247 249);
    flex:1;
}